/*Header*/
header {
  margin-top: 2rem;
  position: sticky;
  top: 0;
}
.bg-dark {
  background-color: rgba(0 0 0 / 30%);
  backdrop-filter: blur(1rem);
}

header .logo-btn {
  width: auto;
}

header > div {
  display: flex;
  justify-content: space-between;
  margin-left: 16rem;
  max-width: 700px;
  width: 100%;
}
#burger-container {
  display: none;
}
.navigation {
  font-size: 2rem;
  position: static;
  width: auto;
  height: fit-content;
  flex-direction: row;
  clip-path: unset;
  background-color: transparent;
  column-gap: 20px;
}
.navigation a {
  color: white;
}
.navigation button {
  background-color: red;
  border-radius: 10px;
  height: 100%;
  order: -1;
  padding: 1rem;
}
/*Hero*/
.hero-section {
  margin-top: 20rem;
}

.hero-section-content h1 {
  font-size: 10rem;
}
.hero-section-content h2 {
  font-size: 5rem;
}
.hero-section-content {
  margin-right: 55rem;
}
/*About me*/
#about_me {
  width: 100%;
  height: 100vh;
  margin-top: 36rem;
  border-bottom: 1px solid salmon;
}

#about_me > div {
  display: grid;
  margin: auto;
  width: 100%;
  max-width: 1080px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
}

#about_me img {
  width: inherit;
  padding: 10rem;
  filter: drop-shadow(2px 4px 6px white);
  /* object-fit: cover; */
  z-index: -1;
}
.about_me-content h3 {
  font-size: 5rem;
}
.about_me-content p {
  font-size: 3rem;
}

/*Project*/
#projects {
  height: 100vh;
  width: 100%;
}
/*contact*/
