@font-face {
   font-family: 'Alegreya Sans';
   src: url('../styles/fonts/AlegreyaSans-Regular.ttf');
   font-style: normal;
}
@font-face {
   font-family: 'Alegreya Sans';
   src: url('../styles/fonts/AlegreyaSans-Medium.ttf');
   font-weight: bold;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   body {
      @apply bg-segundo md:scrollbar md:scrollbar-thin md:scrollbar-thumb-tercero md:scrollbar-thumb-rounded md:hover:scrollbar-thumb-scroll;
   }
   html {
      scroll-behavior: smooth;
   }
   input,
   textarea {
      @apply focus:outline-none;
   }
}

@layer components {
   .header-wrapper {
      @apply flex justify-between py-1 border-b-2 border-tercero md:border-none md:max-w-[1200px] mx-auto md:py-10 md:px-5;
   }
   .ul-header {
      @apply w-screen flex flex-col items-center text-2xl z-10 text-segundo bg-cuarto gap-10 justify-center h-menu;
   }
   .denied {
      @apply cursor-not-allowed opacity-50;
   }

   .toogle-btn {
      @apply text-5xl text-tercero focus:outline-none w-[41px];
   }

   .hero-section {
      @apply md:my-24 px-5 text-justify text-tercero md:max-w-[1200px] md:w-full md:grid md:grid-cols-2 md:place-items-end md:mx-auto;
   }
   .hero-title {
      @apply md:text-7xl text-4xl my-8 font-semibold font-alegreya;
   }
   .hero-text {
      @apply md:text-4xl text-2xl font-alegreya;
   }
   .hero-btn {
      @apply focus:outline-none animate-bounce my-9 bg-quinto p-3 rounded-full text-tercero font-semibold text-xl;
   }
   .img-hero {
      @apply rounded-full ring ring-primero ring-offset-4 ring-offset-segundo h-[425px] mx-auto shadow-hero;
   }

   .projects-section {
      @apply px-4 pb-6 space-y-12 pt-24;
   }
   .title-sp {
      @apply md:mx-auto md:max-w-[1200px] text-3xl md:text-5xl my-10;
   }

   .btn-card {
      @apply rounded-full bg-quinto px-3 py-2 w-auto font-semibold text-xl text-tercero inline-block;
   }

   .project-card {
      @apply max-w-[1200px] sm:mx-auto bg-left-top bg-cover rounded-md min-h-[400px] relative;
   }
   .project-card-container {
      @apply md:bg-overlay bg-overlay_r w-full rounded-md h-[400px] flex justify-center items-end md:justify-end md:items-center;
   }
   .project-card-icons {
      @apply text-2xl flex p-2 rounded-full  space-x-4 absolute top-1 left-1 bg-black bg-opacity-60 backdrop-filter backdrop-blur-md text-white;
   }
   .project-card-content {
      @apply text-white p-2 rounded-md max-w-full md:backdrop-filter md:backdrop-blur-sm md:max-w-[50%] md:space-y-12 space-y-5 text-opacity-70;
   }

   .contact-section {
      @apply sm:text-center px-5 h-[calc(100vh-50px)] pt-5 mt-20 flex flex-col justify-around items-center bg-quinto font-alegreya text-tercero w-full font-bold;
   }
   .form-contact {
      @apply grid grid-cols-1 w-full gap-x-10 max-w-[900px] text-left sm:grid-cols-2 sm:place-items-center h-[65%];
   }
   .label-input {
      @apply text-lg md:text-2xl block tracking-widest mb-2;
   }

   .input {
      @apply text-xl ring focus:ring-segundo ring-offset-4 focus:ring-offset-tercero text-gray-900 w-full  rounded-md p-1 h-[fit-content];
   }
   .btn-form {
      @apply px-2 bg-primero border-2 mt-10 w-full border-tercero rounded-md py-1 text-tercero text-xl md:text-2xl focus:outline-none h-[fit-content] sm:col-span-2 sm:max-w-[375px];
   }
   .footer-section {
      @apply text-center bg-primero text-gray-500 py-3;
   }
}
