@media (min-width: 768px) {
  header {
    position: sticky;
    top: 0;
  }
  .bg-primary {
    background-color: #161a22d1 !important;
  }
  .navigation {
    background-color: transparent;
    backdrop-filter: blur(1rem);
  }
  .navigation button {
    /**/
  }
  .navigation a {
    color: white;
  }
  .logo-btn {
    display: auto;
  }
  .hero-section {
    height: auto;
    padding-top: 30rem;
  }
  .hero-section h1 {
    font-size: 6.5rem;
  }
  .hero-section span {
    font-size: 3.5rem;
  }

  .about_me-section > div {
    flex-direction: row;
  }

  .about_me-section {
    margin-top: 31.5rem;
  }
  .about_me-content h3 {
    font-size: 3.5rem;
  }

  .icons-container {
    padding: 14rem 1rem;
  }

  .intermedio {
    font-size: 4.5rem;
  }

  .projects-container > div {
    flex-direction: row-reverse;
  }
  .projects-container > div:nth-child(even) {
    flex-direction: row;
  }
}
