/*Header*/
header {
  justify-content: space-between;
  padding: 1rem;
}

.navigation {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  flex-direction: column;
  font-size: 1.5rem;
  z-index: 10;
  clip-path: circle(0 at 100% 0);
  background-color: white;
  row-gap: 20px;
}

.active-menu {
  clip-path: circle(141.2% at 100% 0);
}

/* burger-container */
#burger-container {
  background-color: transparent;
  /* z-index: 10; */
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
}
#burger-container span {
  width: 40px;
  height: 4px;
  background-color: white;
}

/*Hero*/
.hero-section-content {
  margin-right: 0;
}
.hero-section-content h2 {
  font-size: 3rem;
}

/*About me*/
/*Project*/
/*contact*/
